#events{
    padding-top:50px;
    text-align:center;
    /* height:100%;
    width:100%; */
    background-color:#F2F3F8;
    position: fixed;
    overflow: auto;
}

.event-block{
    display:block;
    margin-top:20px;
    width:100%;
    position: relative;
    background-color:#F2F3F8 ;
    height:310px;
    border:none;
}
.event-inner-block{
    margin-left:70px;
    float:left;
    width:575px;
    height:100%;
    border:none;
    background-color:#F2F3F8 ;
    background-size: 100% 100%;
}

#event-header{
    background-color:#F2F3F8 ;
    font-size:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#e1event{
    background-image: url("event-1-570x570.jpg");
}
#e2event{
    background-image: url("event-2-570x570.jpg");
}
#e3event{
    background-image: url("event-3-570x570.jpg");
}
#e4event{
    background-image: url("event-4-570x570.jpg");
}
#e5event{
    background-image: url("event-5-570x570.jpg");
}
#e6event{
    background-image: url("event-6-570x570.jpg");
}

.event-inner-block-footer{
    position:absolute;
    bottom:0;
    height:100px;
    width:575px;
    border:none;
}

.event-inner-block-text-left{
    width:100px;
    position: relative;
    height:100%;
    background-color: #FFD510;
    float:left;
}

.event-inner-block-text-left-date{
    height:60px;
    line-height: 60px;
    font-size: 60px;
    font-family:numberFont;
    font-weight: bold;
    color:black;
}

.event-inner-block-text-left-month{
    height:40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color:black;
    font-family:numberFont;
}

.event-inner-block-text-right{
    width:100px;
    position: relative;
    height:100%;
    width:475px;
    padding-left:20px;
    /* background-color: #FFD510; */
    float:left;
    color:white;
    background: linear-gradient(to right, #FFD510 50%, rgba(255,255,255,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s;
}
.event-inner-block-text-right:hover {
    background-position: left bottom;
    cursor: pointer;
    color:black !important;
  }
.event-inner-block-text-right-name{
    height:50px;
    width:100%;
    line-height: 50px;
    position: relative;
    /* color:white; */
    font-size:30px;
    font-family: 'Quantico', sans-serif;
    text-align: left;
}
.event-inner-block-text-right-venue{
    height:20px;
    width:100%;
    line-height: 20px;
    position: relative;
    /* color:white; */
    font-size:15px;
    text-align: left;
    font-family: 'Quantico', sans-serif;
}

.event-inner-block-text-right-time{
    height:20px;
    width:100%;
    line-height: 20px;
    position: relative;
    /* color:white; */
    font-size:15px;
    text-align: left;
    font-family: 'Quantico', sans-serif;
}

.event-inner-block-text-left:hover + .event-inner-block-text-right {
    background-position: left bottom;
    color:black;
}

#view-buttondiv{
    background-color:#F2F3F8 ;
    width:100%;
    height:100px;
    border:1px none;
    text-align:center;
    line-height: 100px;
}
#view-button{
    border:none;
    height:50px;
    width:170px;
    background-color: #FFD510;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;;
}

#view-button:hover{
    background-color: red;
    color:white;
    transition:0.5s;
    cursor: pointer;
}

#book-block{
    height:380px;
    width:100%;
    position: relative;
    background-image: url('bg-image-12.jpg');
    background-size: 100% 130%;
    border:none;
}

#book-heading{
    font-family: bebas;
    padding-top:100px;
    height:190px;
    color:white;
    position: relative;
    font-size: 70px;
}
.book-subheading{
    font-family: 'Alegreya', serif;
    position: relative;
    height:30px;
    color:white;
    font-size:20px;
}
.book-buttondiv{
    width:100%;
    height:70px;
    line-height: 70px;
    padding-top:20px;
}
#book-button{
    border:none;
    height:50px;
    width:170px;
    background-color: #FFD510;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

#book-button:hover{
    background-color: red;
    color:white;
    transition:0.5s;
    cursor: pointer;
}